
/* {
    border: 1px solid orange;
} */

body {
    background-image: url("../images/cybertron.jpg");
    background-size: 100%;
    background attachment: fixed;
    background position: center;
}

.top {
    text-align: right;
}

.logo {
    height: 75px;
    opacity: .85;
}

.container {
    height: 400px;
}

.autobotContainer {
    height: 400px;
    position: relative;
}

.sideswipe {
    height: 400px;
    float: left;
}

.autobot {
    height: 250px;
    float: right;
}

.title {
    color: orange;
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
    /*position: absolute;
    top: 25%;
    left: 40%;
    padding-left: 10px;
    padding-right: 20px;*/
}

h1 {
    font-size: 6em;
    font-family: 'Abel', sans-serif;
    font-style: italic;
    font-weight: bold;
}

.instructions {
    color: orange;
    font-size: 1.75em;
    text-align: center;
    font-weight: bold;
    background-color: blue;
    opacity: .65;
    z-index: -1;
    position: relative;
}

.skywarpContainer {
    text-align: right;
}

.skywarp {
    height: 400px;
}

.decepticon {
    height: 250px;
    float: left;
}

.quizarea {
    height: 500px;
    width: 800px;
    margin: 0 auto;
    background-color: rgba(114, 108, 158, .35);
    text-align: center;
}

.images {
    height: 300px;
    border: 5px solid orangered;
    border-radius: 5px;
    display: block;
    margin: auto;
}

.question {
    color: white;
    font-size: 1.5em;
}

.answers {
    color: white;
    font-size: 1.2em;
    text-align: left;
    margin-left: 25%;
}